.myInput {
  width: 100%;
  height: 28px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 0 14px;
  color: white;
  margin-bottom: 12px;
}

.myInput::placeholder {
  color: #8e8e8e;
}